<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <juszczyk_age_verification>
            <general>
                <enabled>0</enabled>
                <verification_age>18</verification_age>
                <cookie_ttl>86400</cookie_ttl>
            </general>
            <appearance>
                <heading>This site is for +18 only!</heading>
                <description>Do you confirm that you are over 18 years old?</description>
                <using_calendar>0</using_calendar>
                <continue_button>Confirm, go to site</continue_button>
                <back_button>No, go back</back_button>
            </appearance>
        </juszczyk_age_verification>
    </default>
</config>
