<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="juszczyk_age_verification" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
            <tab>juszczyk</tab>
            <label>Age Verification</label>
            <resource>Juszczyk_AgeVerification::config</resource>
            <group id="general" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General</label>
                <field id="enabled" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select"
                       translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="verification_age" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1"
                       type="text" translate="label">
                    <label>Verification Age</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="cookie_ttl" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" type="text"
                       translate="label">
                    <label>Cookie TTL [s]</label>
                    <validate>required-entry validate-digits</validate>
                    <comment>How many seconds should a cookie that saves consent information live.</comment>
                </field>
            </group>
            <group id="appearance" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Appearance</label>
                <field id="heading" type="text" showInDefault="1" showInWebsite="1" showInStore="1" translate="label"
                       sortOrder="10">
                    <label>Heading Text</label>
                </field>
                <field id="description" type="text" showInDefault="1" showInWebsite="1" showInStore="1"
                       translate="label" sortOrder="20">
                    <label>Description Text</label>
                </field>
                <field id="continue_button" type="text" showInDefault="1" showInWebsite="1" showInStore="1"
                       translate="label" sortOrder="30">
                    <label>Continue Button Text</label>
                </field>
                <field id="back_button" type="text" showInDefault="1" showInWebsite="1" showInStore="1"
                       translate="label" sortOrder="40">
                    <label>Back Button Text</label>
                </field>
            </group>
        </section>
    </system>
</config>
